body {
  background-color: white;
}

h1 {
  color: #0d2ace;
  margin-bottom: 1rem;
}
.container {
  padding: 4rem;
  min-height: 500px;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  align-items: center;
}

.container form {
  margin-top: 3rem;
  width: 100%;
}

.container form textarea {
  width: 87%;
}

.container form button {
  background-color: #0d2ace;
  border: none;
  color: white;
  width: 36px;
  height: 37px;
}

.container form button:hover {
  color: rgb(198, 225, 45);
  cursor: pointer;
}

.container label {
  display: block;
  margin-bottom: 1rem;
  color: #0d2ace;
}

.input-button-container {
  display: flex;
}

.ai-image {
  max-width: 600px;
  height: auto;
  width: 100%;
  margin-bottom: 2rem;
}

.error-message {
  color: rgb(228, 80, 80);
  font-size: 14px;
}
.container ol li {
  margin-top: 1rem;
}