@import 'tailwindcss';

@theme {
  /* custom breakpoints screen */
  --breakpoint-*: initial;
  --breakpoint-phone: 24.375rem;
  --breakpoint-md: 48rem;
  --breakpoint-3xl: 120rem;
  /* typography */
  --font-primary: 'Poppins', sans-serif;
  /* custom animation effects */

  --animate-pulseStar: pulseStar 1s ease-in-out infinite;
  @keyframes pulseStar {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(4);
    }
  }

  --animate-pulseCircle: pulseCircle 1s ease-in-out infinite;
  @keyframes pulseCircle {
    0%,
    100% {
      stroke-width: 1;
    }
    50% {
      stroke-width: 2;
    }
  }
}

body {
  background-color: #1c0080;
}
